.idea-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5rem 0 13rem 0;
  }


.juris {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    img {
      width: 100%;
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(47, 72, 88, 0.01), rgba(47, 72, 88, 1));
      z-index: 1;
    }
      .text-overlay {
    position: absolute;
    bottom: 0;
    left: 19%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem;
    z-index: 2;
    max-width: 60%;
    margin: 0 auto;
    }
    .top-ripped {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
    }

    .bottom-ripped {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 2;
  }
    
  }

  .quote_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 50vw;
    margin: 0 auto; /* Center the container horizontally */  

    .quote_content {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      .quote_title {
        text-align: left;
        font-family: Montserrat;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 3.6rem;
        letter-spacing: 0em;
        color: #2F4858;
      }
  
      .quote_position {
        font-family: Montserrat;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.2rem;
        letter-spacing: 0em;
        text-align: left;
        color: #2F4858;
        margin-top: -1rem;
      }
  
      .quote_text {
        font-family: Montserrat;
        font-size: 2rem;
        font-style: italic;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: left;
        color: #2F4858;
        height: 10rem;
      }
    }
  
    .button_container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 3rem; /* Adjust the margin as needed */
    }
  
    .back_button {
      margin-right: 5rem;
      transform: scaleX(-1); /* Adjust the space between the buttons */
    }
  }

@media(max-width: 1200px) {
  .idea-desc{
    .title{
      font-weight: 600;
    }
    .desc{
      font-weight: 500;
    }
  }
  .juris{
    .text-overlay{
      padding-bottom: 4.5rem;
    }
  }


.quote_container {
  width: 70vw;
}
}
@media(max-width: 850px){
  .idea-desc .desc{
    margin: 3rem;
  }

  .juris{
    .jurisimg {
      width: auto;
      height: 100%;
      overflow: hidden;
      position: relative;
      transform: translateX(-60%);
      left: 50%;
  }
  .text-overlay{
    height: 60%;
    max-width: 80%;
    left: 8%;
  }
  &::before{
    bottom: 0;
  }
}
 
.quote_container {
  height: 90vh;
  width: 90vw;
  .quote_content {
    .quote_text {
      font-family: Montserrat;
      font-size: 2rem;
      font-style: italic;
      font-weight: 400;
      line-height: 2.5rem;
      letter-spacing: 0em;
      text-align: left;
      color: #2F4858;
      height: 15rem;
    }
  }
}
}