.idea-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5rem 0 13rem 0;
  }


.juris {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    img {
      width: 100%;
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(47, 72, 88, 0.01), rgba(47, 72, 88, 1));
      z-index: 1;
    }
      .text-overlay {
    position: absolute;
    bottom: 0;
    left: 19%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem;
    z-index: 2;
    max-width: 60%;
    margin: 0 auto;
    }
    .top-ripped {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
    }

    .bottom-ripped {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 2;
  }
    
  }


  .js_container {
    position: relative;
    overflow: hidden;
    height: 40rem;
    
  
    .quote_container {

      justify-content: center;
      align-items: center;
      max-width: 60%;
      margin: 10rem auto;
      display: flex;
      transition: transform 0.5s ease;
      overflow-x: hidden;
    }
    .quote {
      display: none;  // Hide all quotes by default
    }
    
    .quote.active {
      display: block; // Show only the active/current quote
    }
  
    .quote_list {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease;
  
      &.active {
        opacity: 1;
      }
  
      li {
        list-style: none;
        text-align: center;
  
        span {
          display: block;
        }
      }
    }
  }
  
  .button_container {
    position: absolute;
    top: 50%;
    margin-left: 20rem;
    z-index: 1;
    text-align: center;
  }

@media(max-width: 1200px) {
  .idea-desc{
    .title{
      font-weight: 600;
    }
    .desc{
      font-weight: 500;
    }
  }
  .juris{
    .text-overlay{
      padding-bottom: 4.5rem;
    }
  }
}

@media(max-width: 850px){
  .idea-desc .desc{
    margin: 3rem;
  }

  .juris{
    .jurisimg {
      width: auto;
      height: 100%;
      overflow: hidden;
      position: relative;
      transform: translateX(-60%);
      left: 50%;
  }
  .text-overlay{
    height: 60%;
    max-width: 80%;
    left: 8%;
  }
  &::before{
    bottom: 0;
  }
}
}