.idea-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5rem 0 13rem 0;
  }


.juris {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    img {
      width: 100%;
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(47, 72, 88, 0.01), rgba(47, 72, 88, 1));
      z-index: 1;
    }
      .text-overlay {
    position: absolute;
    bottom: 0;
    left: 19%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem;
    z-index: 2;
    max-width: 60%;
    margin: 0 auto;
    }
    .top-ripped {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
    }

    .bottom-ripped {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 2;
  }
    
  }


.js_container{
    height: 20rem;

    padding: 20rem;

    align-items: center;

    border: None;

    .back_button{
      transform: scaleX(-1);
    }


    .quote_container{
        width: 100%;
        transform: translateX(-200rem);

    }
}


.dragin{
  transition: 2ms;
  transform: translateX(200rem);
}

.dragout{
  transition: 2ms;
  transform: translateX(-200rem);
}

@media(max-width: 1200px) {
  .idea-desc{
    .title{
      font-weight: 600;
    }
    .desc{
      font-weight: 500;
    }
  }
  .juris{
    .text-overlay{
      padding-bottom: 4.5rem;
    }
  }
}

@media(max-width: 850px){
  .idea-desc .desc{
    margin: 3rem;
  }

  .juris{
    .jurisimg {
      width: auto;
      height: 100%;
      overflow: hidden;
      position: relative;
      transform: translateX(-60%);
      left: 50%;
  }
  .text-overlay{
    height: 60%;
    max-width: 80%;
    left: 8%;
  }
  &::before{
    bottom: 0;
  }
}
}