.uznemejiem-container {
    margin-bottom: 15rem;
    margin-top: 10rem;

    .desc {
        max-width: 80rem;
        text-align: center;
        margin: auto;
    }
}

.form.uznemejiem-form {
    margin-bottom: 18rem;
}

@media(max-width:1200px) {
    .uznemejiem-container {
        .title {
            font-weight: 600;
        }

        .desc {
            max-width: 60rem;
        }
    }
}